@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Upload|Questions";
}

<div class="uploadFileContainer">
    <form method="post" enctype="multipart/form-data" asp-action="UploadFile" asp-controller="FIB">
        <div class="form-group">
            <label for="file">Select Excel file:</label>
            <input type="file" name="file" id="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
