@{
    ViewData["Title"] = "Question Bank";
}
<h1>Welcome to Question Bank!</h1>
<section style="display :flex; flex-direction:row;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Maths</h5>
            <p class="card-text">Create a question in Maths Subject.</p>
            <a href="#" class="btn btn-primary">Create</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Maths</h5>
            <p class="card-text">Create a question in Maths Subject.</p>
            <a href="#" class="btn btn-primary">Create</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Maths</h5>
            <p class="card-text">Create a question in Maths Subject.</p>
            <a href="#" class="btn btn-primary">Create</a>
        </div>
    </div>
     
   
      <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Add a new subject</h5>
            <p class="card-text">Create a new Subject.</p>
            <a href="#" class="btn btn-danger">Add</a>
        </div>
    </div>
</section>