@model AuthSystem.Models.Subject

@{
    ViewData["Title"] = "Select Subject";
}
<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        
        margin:5px;
        padding: 10px;
        height: 120px; /* Should be removed. Only for demonstration */
        background-color: lightblue;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;


    }

</style>
    <h1>All subjects</h1>
    @foreach (var subject in Model.Subjects)
    {


    <a href="@Url.Action("SelectSubject", "Subject", new { subjectId = subject.SubjectId })">
            <div class="column" style="width: 15rem; background-color:lightblue ; display:flex; flex-direction:row;">                              
                    <h3>@subject.SubjectName</h3>            
            </div>

    </a>
    }
<h2>Create New Subject</h2>
<form method="post" asp-controller="Subject" asp-action="Create" class="form-control-lg">
    <input asp-for="SubjectName" placeholder="Enter new subject name" class="form-control" />
    <button type="submit" class="btn btn-secondary">Create</button>
</form>

