@model AuthSystem.Models.Subject

@{
    ViewData["Title"] = "Select Subject";
}
<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        
        margin:5px;
        padding: 10px;
        height: 120px; /* Should be removed. Only for demonstration */
        background-color: lightblue;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;


    }

</style>
<div>
    <h1>Create Questions</h1>
    @foreach (var subject in Model.Subjects)
    {

        <a href="@Url.Action("SelectSubject", "Subject", new { subjectId = subject.SubjectId })" >


            <div class="column" style="width: 15rem; background-color:lightblue ; display:flex; flex-direction:row;">
                <div class="card-body">
                    <h5>@subject.SubjectName</h5>
                </div>
            </div>


        </a>

    }
</div>


