@{
    ViewData["Title"] = "Options";
}

<h1>Choose Options</h1>


<a asp-action="Index" asp-controller="QuestionType">Create Questions</a>
<a asp-action="Type" asp-controller="Subject">View Questions</a>