@model AuthSystem.Models.Subject

@{
    ViewData["Title"] = "Subject";
}
<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
        margin:5px;
        padding: 10px;
        height: 120px; /* Should be removed. Only for demonstration */
        background-color: lightblue;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    </style>

<h1>My Subjects</h1>
<div>
@foreach (var subject in Model.Subjects)
{
        <div class="column" style="width: 20rem; background-color:lightblue ; display:flex; flex-direction:row;">
            <div class="card-body">
                <a href="@Url.Action("SelectSubject", "Subject", new { subjectId = subject.SubjectId })">
                    <h5>@subject.SubjectName</h5>
                </a>
            </div>
        </div>

   

}
</div>
