@{
    ViewData["Title"] = "View|Question|Type";
}

<h1>Which questions do you want to view</h1>


<a asp-action="ViewQuestions" asp-controller="Subject">Multiple Choice Questions</a>
<a asp-action="ViewQuestionsFIB" asp-controller="Subject">Fill in the blanks</a>