@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Type|Create";
}

<h1>How do you like to Create a Question?</h1>
<div id="button1">
    <a href="@Url.Action("Create", "MCQ")" target="_blank" style="text-decoration : none; color:white;"> Create manually</a>
</div>
<div id="button2">
    <a href="@Url.Action("UploadFile", "MCQ")" target="_blank" style="text-decoration : none; color:white;"> Upload file </a>
</div>


<style>
    #button1, #button2 {
        background-color: cornflowerblue;
        border: none;
        color: white;
        padding: 50px 120px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<!--
<a href="@Url.Action("Create", "MCQ")" style="text-decoration : none;">

    <div class="card bg" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Creat Manually</h5>
            <p class="card-text">Create a question by manually privided question content</p>
        </div>
    </div>
</a>
<a href="@Url.Action("UploadFile", "MCQ")" style="text-decoration : none;">

    <div class="card bg" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Upload Questions from an Excel File</h5>
            <p class="card-text">Make sure to provide the excel file that has the right format</p>
        </div>
    </div>
</a>
-->


