@{
    ViewData["Title"] = "Question|Select";
}

<h1>Select Question Type</h1>
<a href="@Url.Action("CreationType", "QuestionType")" style="text-decoration : none;">

<div class="card bg" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Multiple Choice Type Question</h5>
        <p class="card-text">Create an MCQ in the question bank</p>
    </div>
</div>
</a>
<a href="@Url.Action("Create", "FIB")" style="text-decoration : none;">

<div class="card bg" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Fill in the blank</h5>
        <p class="card-text">Create a Fill in the Blank Question</p>
    </div>
</div>
</a>