html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*tab navigation*/
.login-logout-card .card-header{
    padding:0px 0px 12px 0px;
}

.login-logout-card .ul.nav-tabs {
    padding: 0px 0px -12px 0px;
}

.login-logout-card .li.nav-item {
    width: 50%;
}

.login-logout-card .a.nav-link {
    font-size:1rem;
    color: blue;
    text-align: center;
    padding: 1rem;

}

.login-logout-card .card-header0 {
    padding: 10px 20px;
}

.bg :hover {
    background-color : cadetblue;
    cursor : pointer;
        
}
.uploadFileContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #0000ff);
    border-image-slice: 10;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius : 10px
}